[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
* {
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: gotham-light;
    src: url("/fonts/gotham-light.ttf")
}
@font-face {
    font-family: gotham-med;
    src: url("/fonts/gotham-med.ttf")
}
@font-face {
    font-family: gotham-reg;
    src: url("/fonts/gotham-reg.ttf")
}
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'gotham-light', sans-serif;
    font-size: 16px;
    overflow-x:hidden;
}
header {
    z-index:999;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
    top:0;
    left:0;
    width:100%;
    background:#fff;
}
nav {
    height: 50px;
    padding:15px;
}
.wrapper {
    display:inline-block;
    width: 100%;
    margin-bottom: -5px;
}
.side-bar {
    width: 250px;
    background-color:darkcyan;
    min-height: 700px;
    height:100%;
    display:inline-block;
    float: left;
}
.content {
    display:inline-block;
    width: calc(100% - 250px);
    float: left;
}
.tabs {
    height:120px;
    display:inline-block;
    width:100%;
}