<h1>ลงชื่อเข้าใช้งาน</h1>
<form name="loginForm" ng-controller="LoginController">
    <p class="error-message" ng-if="status.invalid">E-mail หรือ Password ไม่ถูกต้อง</p>
    <p class="error-message" ng-if="status.error">ระบบขัดข้องกรุณาลองอีกครั้งหรือติดต่อผู้ดูแลระบบ</p>
    <div class="field">
        <input 
               type="email"
               class="textbox"
               placeholder="E-mail"
               ng-model="model.email"
               ng-required="true" />
    </div>
    <div class="field">
        <input type="password"
               class="textbox"
               placeholder="Password"
               ng-model="model.password"
               ng-required="true" />
    </div>

    <button type="button" ng-click="login(loginForm)">
        Login
    </button>

    <p>ยังไม่มี Account? <a ng-click="navigateTo('#/register')">สมัครใช้งานฟรี</a></p>
</form>